@model List<DataModel.Market.Urun>


<div class="container">
    
@*    @await Component.InvokeAsync("Marka",new{urun=Model.FirstOrDefault()})*@

    @foreach(var urun in Model)
    {
        <div class="row border-bottom">

            <div class="col-2">
                @if (urun.ImageAdres == null)
                {
                    <label>Resim bulunamadı</label>
                }
                else
                {
                     <img class="img-thumbnail" src="@urun.ImageAdres" />
                }
               
            </div>

            <div class="col-10">
                <p>Marka:@urun.Marka?.Ad</p>
                <h6>
                    <a href="/Urun/UrunDetay/@urun.Id">@urun.Ad</a>                    
                </h6>
               
                <p>Açıklama: @urun.Aciklama</p>

                <label class="bg-secondary p-2 text-light rounded">Fiyat : @urun.Fiyat</label>

                <strong class="bg-warning text-light">@urun.Yorum.Count Yorum</strong>
            </div>

            @*yorumlar burda listelencek*@

            <div class="col-6">
                 <partial name="_urunYorumListe" model="@urun.Yorum.ToList()"/>
            </div>

          

        </div>
    }

   

 @*   @await Component.InvokeAsync("Kategori")*@

</div>