@model DataModel.Market.Urun

<div class="container">
    
    <h6>@ViewBag.Mesaj</h6>

    

    <div class="row">
            <div class="col-2 border">
            <img src="@Model.ImageAdres" class="img-thumbnail"/>
        </div>

        <div class="col-10 border">
            <h6>@Model.Ad</h6>
            <p>@Model.Aciklama</p>
            <p>@Model.Fiyat</p>
        </div>
    </div>
    <hr />
   

    <div class="row">
        <h6>@Model.Yorum.Count Adet yorum bulunmaktadır.</h6>
        <partial name="_urunYorumListe" model="@Model.Yorum.ToList()"/>

    </div>


    <div class="row">
        <partial name="Yorum" model="@Model" />
    </div>
    <div class="row">
        <div class="col-4">
                @await Component.InvokeAsync("Kategori")
        </div>

    </div>
 
</div>